{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	{% endblock %}
    <link  href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="frame">
        <!-- Contacts Sidebar -->
        <div class="contacts-area" class="content">     
                <div class="action-buttons">
                    
                   <a href="{% url 'friends:search' %}"><button class="settings"><i class="fa fa-search"></i></button></a>
                    <a href="{% url 'chats:chat' %}"><button class="add-contact"><i class="fa fa-message"></i><span class="badge ">{{messages_length}}</span></button></a>
                    <a href="{% url 'friends:notification' %}"><button class="notifications"><i class="fa fa-bell"></i><span class="badge ">{{ notifications_length }}</span></button></a>
                  <a href="{% url 'accounts:settings' %}"><button class="settings"><i class="fa fa-cog"></i></button></a>
                </div>
            

            
           {% block content %}
		   {% endblock %}
        </div>
    </div>
	{% block script %}
	{% endblock %}
    
</body>
</html>
